<%- include('../partials/headstart') %>
<link rel="stylesheet" href="/assets/css/index.css">
<%- include('../partials/headend') %>

<%- include('../partials/headerUlStart') %>
<%- include('../partials/headerBackarrow') %>
<%- include('../partials/headerSiteStart') %>Archive<%- include('../partials/headerSiteEnd') %>
<%- include('../partials/headerSettings') %>
<%- include('../partials/headerUlEnd') %>

<main>
    <%- include('../partials/searchbar') %>

    <%- include('../partials/categorytab.ejs') %>
    <%- include('../partials/card') %>
    <%- include('../partials/card') %>
    <%- include('../partials/categorytab.ejs') %>
    <%- include('../partials/card') %>
</main>


<%- include('../partials/afterfooter') %>