<%- include('../partials/headstart') %>
<link rel="stylesheet" href="/assets/css/index.css">
<%- include('../partials/headend') %>

<%- include('../partials/headerUlStart') %>
<%- include('../partials/headerArchive') %>
<%- include('../partials/headerSiteStart') %>Newsbox<%- include('../partials/headerSiteEnd') %>
<%- include('../partials/headerSettings') %>
<%- include('../partials/headerUlEnd') %>

<main>
    <%- include('../partials/card') %>
    <%- include('../partials/card') %>
    <%- include('../partials/card') %>

</main>



<%- include('../partials/afterfooter') %>

