<%- include('../partials/headstart') %>
<link rel="stylesheet" href="/assets/css/index.css">
<%- include('../partials/headend') %>

<%- include('../partials/headerUlStart') %>
<%- include('../partials/headerBackarrow') %>
<%- include('../partials/headerSiteStart') %>Settings<%- include('../partials/headerSiteEnd') %>
<%- include('../partials/headerSettings') %>
<%- include('../partials/headerUlEnd') %>

<main class="bg-gray-200 settings">

    <h1 class="settings__heading settings__heading-one">Manage</h1>
    <h2 class="settings__heading settings__heading-two">Categories</h2>

    <section class="settings__wrapper">
        <section class="settings__catPicker settings__catPicker-top"><p class="settings__catPicker-tekst">Europe</p></section>
        <section class="settings__catPicker settings__catPicker-middle"><p class="settings__catPicker-tekst">Health</p></section>
        <section class="settings__catPicker settings__catPicker-middle"><p class="settings__catPicker-tekst">Sport</p></section>
        <section class="settings__catPicker settings__catPicker-middle"><p class="settings__catPicker-tekst">Business</p></section>
        <section class="settings__catPicker settings__catPicker-bottom"><p class="settings__catPicker-tekst">Travel</p></section>
    </section>

    <div class="settings__button-wrapper">
        <button class="settings__button">TOGGLE DARK MODE</button>
    </div>
</main>



<%- include('../partials/afterfooter') %>